.coverage
.tox
.DS_Store
*.sqlite
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
*pycache*
config.py
MANIFEST
test.conf
pip-log.txt
celerybeat-schedule
/htmlcov
/cover
/build
/dist
example/db.sqlite
/dist
/venv
